@{
    ViewData["Title"] = "Groups";
    ViewData["PageName"] = "events_addevent";
    ViewData["Heading"] = "<i class='fal fa-info-circle'></i> Dodaj wydarzenie";
    ViewData["Category1"] = "Eventovo";
}
@section HeadBlock {}

<form id="frmMain">
    <fieldset>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-xl-6">
                <div class="form-group fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
                    <legend>Informacje ogólne</legend>
                    <div class="row">
                        <div class="col">
                            <div style="margin-bottom: 10px;">
                                <label for="inpEventName" class="form-label">Nazwa wydarzenia</label>
                                <input type="text" class="form-control" id="inpEventName" name="inpEventName" data-bind="value: eventName" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div style="margin-bottom: 10px;">
                                <label for="inpEventPlace" class="form-label">Miejsce wydarzenia</label>
                                <input type="text" class="form-control" id="inpEventPlace" name="inpEventPlace" data-bind="value: eventPlace" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div style="margin-bottom: 10px;">
                                <label for="tbEventDescription" class="form-label">Opis wydarzenia</label>
                                <textarea class="form-control" id="tbEventDescription" name="tbEventDescription" rows="5" data-bind="value: eventDescription"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6">
                <div style="margin-bottom: 10px;">
                    <div class="form-group fs-lg fw-300 p-5 bg-white border-faded rounded mb-g" >
                        <legend>Data i czas wydarzenia</legend>

                        <div data-bind="foreach: eventDates">
                            @*<div data-bind="with:">*@
                                <div style="margin-bottom: 5px;" class="row">
                                    <div class="col-xl-4">
                                        <label class="form-label" for="inpDate">Data wydarzenia</label>
                                        <input class="form-control" id="inpDate" type="date" name="inpDate" value="2023-07-23" data-bind="value: eventDateString" />
                                    </div>
                                    <div class="col" style="display: flex; align-items: center; align-content: center; padding-left: 20px; padding-top: 13px;">
                                        <input class="custom-control-input" id="inpForced" type="checkbox" name="inpForced" />
                                        <label class="custom-control-label" for="inpForced">Wymuszona</label>
                                    </div>
                                </div>
                                <div style="margin-bottom: 7px;" class="row">
                                    <div class="col">
                                        <label class="form-label" for="inpTime">Czas wydarzenia</label>
                                        <input class="form-control" id="inpTime" type="time" name="inpTime" data-bind="value: eventTimeString" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="display: flex; justify-content: right;">
                                        <button type="button" class="btn btn-primary" data-bind="click: $root.onAddDate.bind($root)"><i class="fal fa-plus-circle"></i></button>
                                    </div>
                                </div>
                            @*</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-xl-6">
                <div class="form-group fs-lg fw-300 p-5 bg-white border-faded rounded mb-g" >
                    <legend>Informacje o uczestnikach</legend>
                    <div class="row">
                        <div class="col">
                            <div>
                                <label class="form-label" for="msProposedParticipants">Proponowani uczestnicy</label>
                                <select id="msProposedParticipants" multiple="" class="form-control" data-bind="options: proposedParticipants, selectedOptions: selectedProposedParticipants">
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <label class="form-label" for="msConfirmedParticipants">Potwierdzeni uczestnicy</label>
                                <select id="msConfirmedParticipants" multiple="" class="form-control" data-bind="options: confirmedParticipants">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-6">
                                    <label for="inpProposedParticipantName" class="form-label">Nazwa uczestnika</label>
                                    <input type="text" class="form-control" id="inpProposedParticipantName" name="inpProposedParticipantName" data-bind="value: proposedParticipantName" />
                                </div>
                                <div class="col" style="display: flex; justify-content: flex-end;">
                                    <button type="button" class="btn btn-primary" style="height: 50%; display: flex; align-self: flex-end" data-bind="click: onAddProposedParticipantClick"><i class="fal fa-plus-circle"></i></button>
                                </div>
                                <div class="col" style="display: flex; justify-content: flex-end;">
                                    <button type="button" class="btn btn-primary" style="height: 50%; display: flex; align-self: flex-end" data-bind="click: onRemoveProposedParticipantsClick"><i class="fal fa-minus-circle"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row" style="height: 100%">
                                <div class="col" style="display: flex; justify-content: flex-end;">
                                    <button type="button" class="btn btn-primary" style="height: 50%; display: flex; align-self: flex-end" data-bind="click: onAddMeClick">Dodaj mnie</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-xl-6">
                <div class="form-group fs-lg fw-300 p-5 bg-white border-faded rounded mb-g" >
                    <legend>Informacje dodatkowe</legend>
                    <div class="row">
                        <div class="col">
                            <div>
                                <div style="margin-bottom: 10px;">
                                    <label for="inpEstimatedCost" class="form-label">Szacowany koszt uczestnictwa na osobę (w złotych polskich)</label>
                                    <input type="text" class="form-control" id="inpEstimatedCost" name="inpEstimatedCost" data-bind="value: estimatedCost" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <label style="font-size: 17px;">Tagi</label>
                    <div class="row">
                        <div class="col">
                            <div style="margin-bottom: 10px;">
                                <div id="dTags" data-bind="foreach: tags"><span data-bind="text: $data, click: $parent.onTagClick" class="badge badge-success" style="margin-right: 3px;"></span></div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-8">
                            <label for="inpTag" class="form-label">Nowy tag</label>
                            <input type="text" class="form-control" id="inpTag" name="inpTag" data-bind="value: tag" /> 
                        </div>
                        <div class="col" style="display: flex; justify-content: flex-end;">
                            <button type="button" class="btn btn-primary" style="height: 50%; display: flex; align-self: flex-end" data-bind="click: onTagAddClick"><i class="fal fa-plus-circle"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6">
                <button type="button" class="btn btn-primary" data-bind="click: onSaveClick">Zapisz</button>
            </div>
        </div>
    </fieldset>
    
    <div data-bind="text: currentUser" id="hdfCurrentUser" style="display: none" >@ViewData["CurrentUser"]</div>
</form>

<script type="text/javascript" src="~/js/knockout-3.5.1.js"></script>
<script type="text/javascript" src="~/ts/Tools.js"></script>
<script type="text/javascript" src="~/ts/AddEventViewModel.js"></script>