@{
    ViewData["Title"] = "MyEvents";
    ViewData["PageName"] = "eventovo_myevents";
    ViewData["Heading"] = "<i class='fal fa-info-circle'></i> MyEvents";
    ViewData["Category1"] = "Eventovo";
    ViewData["PageDescription"] = "My events page";
}
@section HeadBlock {}
@model List<SmartAdmin.WebUI.ViewModels.GroupedMyEventsViewModel>

<div class="row">
    <div class="col-xl-12">
        @foreach (var group in Model)
        {
            <div class="alert alert-secondary" style="text-align: -webkit-center;" role="alert">
                <strong>@group.Date</strong>
            </div>

            foreach (var @event in group.DayEvents)
            {
                @Html.Partial("_EventTile", @event)
            }
        }
    </div>
</div>

