@{
    ViewData["Title"] = "MyEvents";
    ViewData["PageName"] = "eventovo_myevents";
    ViewData["Heading"] = "<i class='fal fa-info-circle'></i> MyEvents";
    ViewData["Category1"] = "Eventovo";
    ViewData["PageDescription"] = "My events page";
}
@section HeadBlock {}
@model List<SmartAdmin.WebUI.ViewModels.MyEventViewModel>

<div class="row">
    <div class="col-xl-12">
        @foreach (var @event in Model)
        {
            @Html.Partial("_EventTile", @event)
        }
    </div>
</div>

