@{
    ViewData["Title"] = "Moje parametry";
    ViewData["PageName"] = "eventovo_myparameters";
    ViewData["Heading"] = "<i class='fal fa-info-circle'></i> MyEvents";
    ViewData["Category1"] = "Eventovo";
    ViewData["PageDescription"] = "Moje parametry page";
}
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
   TEST
</div>